body {
    background-color:pink;
    margin: 0;
    padding: 0;
}

h1{
    color: black;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
}
h3{
    color: black;
    text-align: left;
}


div {
  background-color: pink;
}

p {
  color: black;
  text-align: center ;
}

/* Navbar */
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 40px;
background-color: #460720;
}

